<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<script src="angular/angular.js"></script>
<script src="todo.js"></script>
</head>

<body ng-app='myApp' ng-controller='myCtrl'>
<h2> ToDos</h2>
<table border="1px solid black">
	<tr>
	<td> <input type="text" ng-model="todoName" /></td>
	<td> <input type="button" value="Add ToDo" ng-click="addTodo()" /></td>
	</tr>
	<tr>
		<th>Name</th>
		<th>Complete</th>
	</tr>
	<tr ng-repeat=" todo in todos">
		<td>{{todo.name}}</td>
		<td><input type="checkbox" ng-model="todo.isComplete" /></td>
	
	</tr>
</table>




</body>
</html>
